<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
    <title>Votre compte a été créé</title>

</head>

<body>
<div style="background-color: #c4c4c475; font-family: 'Roboto', Arial, Helvetica sans-serif;">
    <div id="container" style="max-width: 600px; margin: auto; background-color: white; padding-bottom: 24px;">
        <header style="width: 100%; padding: 30px 0; background-color: #3D9970; color: white;">
            <h2 style="text-align: center; color: inherit;">Webfluxblog</h2>
        </header>
        <div id="content" style="padding: 24px;">
            <h1 style="text-align: center; color: #3D9970;">Votre compte a été créé avec succès</h1>
            <p>Cher(e) client(e), </p>
            <p>Nous vous remercions d'avoir créé votre compte Webfluxblog.</p>


            <p>Vous avez juste à vous y connectez avec comme identifiants: </p>
            <ul>
                <li style="font-weight: 600;">Nom d'utilisateur: {{username}}</li>
                <li style="font-weight: 600;">Mot de passe: ************</li>
            </ul>

            <p>A bientôt sur
                <span style="color: #3D9970; font-weight: bold;">Webfluxblog</span>
            </p>
        </div>
    </div>
</div>
</body>

</html>