<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
    <title>Réinitialisation de votre mot de passe</title>

    <style>
        .button:hover {
            background-color: #20af8e;
        }
    </style>
</head>

<body>
<div style="background-color: #c4c4c475; font-family: 'Roboto', Arial, Helvetica sans-serif; ">
    <div id="container" style="max-width: 600px; margin: auto; background-color: white; padding-bottom: 24px;">
        <header style="width: 100%; padding: 30px 0; background-color: #3D9970;">
            <h2 style="text-align: center; color: white; width: 100%;">Webfluxblog</h2>
        </header>
        <div id="content" style="padding: 24px;">
            <h1 style="text-align: center; color: #3D9970;">Réinitialisation de votre mot de passe</h1>
            <p>Bonjour, {{firstname}} {{lastname}}</p>
            <p>Vous avez demandé la réinitialisation de votre mot de passe Webfluxblog.</p>
            <p> Afin d'accéder au formulaire, cliquez sur le lien ci-dessous. <br><br> <a class="button"
                                                                                          href="{{passwordResetUrl}}"
                                                                                          style="text-decoration: none; display: block; padding: 16px; border-radius: 8px; background-color: #3D9970; color: white; width: max-content;">Réinitialiser
                mon mot de passe</a>
                <br><a href="{{passwordResetUrl}}">{{passwordResetUrl}}</a>
            </p>

            <p>
                Si vous n'êtes pas à l'origine de cette demande, vous pouvez choisir d'ignorer cet e-mail, ou bien
                contacter le service client au
                {{customerSupportTelephone}} ou au <a
                    href="mailto:{{customerSupportEmail}}">{{customerSupportEmail}}</a> pour plus de précisions.
            </p>
            <p style="margin-top: 32px;">A bientôt sur
                <span style="color: #3D9970; font-weight: bold;">Webfluxblog</span>.
            </p>
        </div>
    </div>
</div>
</body>

</html>