<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
    <title>Mot de passe réinitialisé</title>
</head>

<body>
<div style="background-color: #c4c4c475; font-family: 'Roboto', Arial, Helvetica sans-serif; ">
    <div id="container" style="max-width: 600px; margin: auto; background-color: white; padding-bottom: 24px;">
        <header style="width: 100%; padding: 30px 0; background-color: #3D9970;">
            <h2 style="text-align: center; color: white; width: 100%;">Webfluxblog</h2>
        </header>
        <div id="content" style="padding: 24px;">
            <h1 style="text-align: center; color: #3D9970;">Mot de passe réinitialisé</h1>
            <p>Bonjour, {{firstname}} {{lastname}}</p>
            <p>Votre mot de passe a été réinitialisé.</p>

            <p>
                Si vous n'êtes pas à l'origine de cette demande, nous vous recommendons de contacter le service
                client
                au
                {{customerSupportTelephone}} ou par email au <a
                    href="mailto:{{customerSupportEmail}}">{{customerSupportEmail}}</a> pour que nous le
                vérouillions
                et que nous vous aidions à le récupérer.
            </p>
            <p style="margin-top: 32px;">A bientôt sur
                <span style="color: #3D9970; font-weight: bold;">Webfluxblog</span>.
            </p>
        </div>
    </div>
</div>
</body>

</html>